@font-face {
  font-family: "blokletters";
  src: url('https://d2q9f19mcrh9o0.cloudfront.net/fonts/blokletters/regular/blokletters.eot');
  src: url('https://d2q9f19mcrh9o0.cloudfront.net/fonts/blokletters/regular/blokletters.eot?#iefix') format('embedded-opentype'),
  url('https://d2q9f19mcrh9o0.cloudfront.net/fonts/blokletters/regular/blokletters.woff') format('woff'),
  url('https://d2q9f19mcrh9o0.cloudfront.net/fonts/blokletters/regular/blokletters.ttf')  format('truetype'),
  url('https://d2q9f19mcrh9o0.cloudfront.net/fonts/blokletters/regular/blokletters.svg#svgFontName') format('svg');
  font-weight: 400;
}

@font-face {
  font-family: "blokletters";
  src: url('https://d2q9f19mcrh9o0.cloudfront.net/fonts/blokletters/bold/blokletters.eot');
  src: url('https://d2q9f19mcrh9o0.cloudfront.net/fonts/blokletters/bold/blokletters.eot?#iefix') format('embedded-opentype'),
  url('https://d2q9f19mcrh9o0.cloudfront.net/fonts/blokletters/bold/blokletters.woff') format('woff'),
  url('https://d2q9f19mcrh9o0.cloudfront.net/fonts/blokletters/bold/blokletters.ttf')  format('truetype'),
  url('https://d2q9f19mcrh9o0.cloudfront.net/fonts/blokletters/bold/blokletters.svg#svgFontName') format('svg');
  font-weight: 700;
}
