@font-face {
	font-family: "roboto";
	src: url("https://d2q9f19mcrh9o0.cloudfront.net/fonts/roboto/regular/roboto.eot");
	src: url("https://d2q9f19mcrh9o0.cloudfront.net/fonts/roboto/regular/roboto.eot?#iefix")
			format("embedded-opentype"),
		url("https://d2q9f19mcrh9o0.cloudfront.net/fonts/roboto/regular/roboto.woff")
			format("woff"),
		url("https://d2q9f19mcrh9o0.cloudfront.net/fonts/roboto/regular/roboto.ttf")
			format("truetype"),
		url("https://d2q9f19mcrh9o0.cloudfront.net/fonts/roboto/regular/roboto.svg#svgFontName")
			format("svg");
	font-weight: 400;
}

@font-face {
	font-family: "roboto";
	src: url("https://d2q9f19mcrh9o0.cloudfront.net/fonts/roboto/bold/roboto.eot");
	src: url("https://d2q9f19mcrh9o0.cloudfront.net/fonts/roboto/bold/roboto.eot?#iefix")
			format("embedded-opentype"),
		url("https://d2q9f19mcrh9o0.cloudfront.net/fonts/roboto/bold/roboto.woff")
			format("woff"),
		url("https://d2q9f19mcrh9o0.cloudfront.net/fonts/roboto/bold/roboto.ttf")
			format("truetype"),
		url("https://d2q9f19mcrh9o0.cloudfront.net/fonts/roboto/bold/roboto.svg#svgFontName")
			format("svg");
	font-weight: 700;
}

@font-face {
	font-family: "Roboto Slab";
	src: url("https://d2q9f19mcrh9o0.cloudfront.net/fonts/roboto/regular/roboto.eot");
	src: url("https://d2q9f19mcrh9o0.cloudfront.net/fonts/roboto/regular/roboto.eot?#iefix")
			format("embedded-opentype"),
		url("https://d2q9f19mcrh9o0.cloudfront.net/fonts/roboto/regular/roboto.woff")
			format("woff"),
		url("https://d2q9f19mcrh9o0.cloudfront.net/fonts/roboto/regular/roboto.ttf")
			format("truetype"),
		url("https://d2q9f19mcrh9o0.cloudfront.net/fonts/roboto/regular/roboto.svg#svgFontName")
			format("svg");
	font-weight: 400;
}

@font-face {
	font-family: "Roboto Slab";
	src: url("https://d2q9f19mcrh9o0.cloudfront.net/fonts/roboto/bold/roboto.eot");
	src: url("https://d2q9f19mcrh9o0.cloudfront.net/fonts/roboto/bold/roboto.eot?#iefix")
			format("embedded-opentype"),
		url("https://d2q9f19mcrh9o0.cloudfront.net/fonts/roboto/bold/roboto.woff")
			format("woff"),
		url("https://d2q9f19mcrh9o0.cloudfront.net/fonts/roboto/bold/roboto.ttf")
			format("truetype"),
		url("https://d2q9f19mcrh9o0.cloudfront.net/fonts/roboto/bold/roboto.svg#svgFontName")
			format("svg");
	font-weight: 700;
}
